body{
  background-image: linear-gradient(rgb(255, 255, 255), rgb(197, 197, 197));
margin: 5mm;
}
.bordetarjeta {
  padding: 10mm;
width: auto;

  padding: 2PX 10px;
  border: rgb(78, 125, 255) 04px solid;
  border-radius: 30px;
  background-color: bisque;
}

.imagencentral {
  padding: 2PX 10px;
  width: 200px;
     height: 200px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #5cb85c;
    
}


h2{
  font-family:Verdana; font-size: 60 px;
}
h3 {  font-family:Arial, Helvetica, sans-serif; font-size: 25px; }

.parrafos{ font-family:Arial, Helvetica, sans-serif; font-size: 18px;

} 